.section-app-demo {
  position: relative;
  overflow: hidden;

  &__content {
    max-width: 45%;

    @include breakpoint-max(md) {
      max-width: 55%;
    }

    @include breakpoint-max(sm) {
      max-width: 100%;
    }
  }

  &__img {
    position: absolute;
    z-index: -1;
    top: 18%;
    left: 44%;
    max-width: 100%;
    object-fit: cover;

    @include breakpoint-max(lg) {
      left: 35%;
    }

    @include breakpoint-max(sm) {
      top: 20%;
      left: -23%;
    }
  }

  &__title {
    margin-bottom: $base * 7;
  }

  &__text {
    margin-bottom: $base * 12;

    @include breakpoint-max(sm) {
      margin-top: 115%;
    }
  }

  .btn--secondary--dark {
    position: relative;
    padding-right: $base * 9;

    &::before {
      position: absolute;
      top: 50%;
      right: $base * 5;
      font-size: $base * 1.8;
      transform: translateY(-51%);
    }
  }
}
