.section-blog {
  background-color: #f5f8ff;

  &__title {
    text-align: center;
  }
}

.slider-wrapper {
  position: relative;
  margin: $base * 20 auto;
}

.slider-blog {
  @extend %list;

  background-color: $color-white;
  border: 1px solid $color-logo-grey;
  box-shadow: 0px $base * 4 $base * 12 #eff4ff;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $base * 16 $base * 8;
  }

  &__gallery,
  &__article {
    flex-basis: 47%;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, $base * 30);
    gap: $base * 3;
    margin: 0;
  }

  &__img-link {
    position: relative;
    text-decoration: none;
    overflow: hidden;
    border-radius: $base * 1.25;
    box-shadow: 0px $base * 4 $base * 25 #e5ebf8;

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: $base * 15;
      height: $base * 15;
      color: $color-text;
      font-size: $fz-md;
      line-height: $base * 16;
      text-align: center;
      background-color: $color-white;
      border-radius: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: $transition;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &--big {
      grid-column: span 2;
      grid-row: span 2;

      &::after {
        background: linear-gradient(
          13.46deg,
          rgba(255, 199, 53, 0.44) 1.89%,
          rgba(255, 227, 154, 0.93) 1.9%,
          rgba(255, 159, 90, 0) 68.24%
        );
      }
    }

    &--s--pink {
      &::after {
        background: linear-gradient(
          27.48deg,
          rgba(255, 53, 53, 0.48) 14.02%,
          rgba(255, 179, 90, 0) 68%
        );
      }
    }

    &--s--blue {
      &::after {
        background: linear-gradient(
          13.49deg,
          rgba(53, 170, 255, 0.68) 11.59%,
          rgba(90, 136, 255, 0) 96.88%
        );
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__subtitle {
    font-weight: $fw-regular;
  }

  &__text {
    margin: $base * 8 0;
    font-size: $fz-md;
    letter-spacing: normal;
    overflow: hidden;
  }

  &__article-btns {
    display: flex;
  }

  &__link {
    @extend %btn;

    margin-left: $base * 2;
    color: $color-grey-blog;
    font-weight: $fw-bold;

    &:hover {
      color: darken($color-grey-blog, 10%);
    }
  }
}

.blog-arrow {
  @extend %btn;

  position: absolute;
  top: 50%;
  width: $base * 10;
  height: $base * 10;
  color: $color-grey-blog;
  text-align: center;
  line-height: $base * 10;
  vertical-align: middle;

  &:hover {
    color: darken($color-grey-blog, 10%);
  }

  &--prev {
    right: 100%;
    margin-right: $base * 16;
    transform: translateY(-50%);
  }
  &--next {
    left: 100%;
    margin-left: $base * 16;
    transform: translateY(-50%) rotate(180deg);
  }
}
