.section-faq {
  &__inner {
    box-sizing: border-box;
    padding-left: $base * 15;
    padding-right: $base * 15;

    @include breakpoint-max(sm) {
      padding-left: $base * 5;
      padding-right: $base * 5;
    }
  }

  &__subtitle {
    margin-bottom: $base * 17;

    @include breakpoint-max(sm) {
      margin-bottom: $base * 10;
    }
  }

  &__list {
    @extend %list;
  }

  &__item {
    $parent: &;

    padding: $base * 8;
    padding-left: $base * 18;
    border-bottom: 1px solid $color-logo-grey;

    @include breakpoint-max(sm) {
      padding-top: $base * 6;
      padding-bottom: $base * 6;
    }

    &-trigger {
      @include quicksand;

      position: relative;
      font-weight: $fw-medium;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 50%;
        left: $base * -12;
        font-size: $fz-xs;
        transform: translateY(-50%);
        transition: $transition;
      }
    }

    &-content {
      display: none;
      justify-content: space-between;
      align-items: center;
      padding: $base * 6 0 $base * 6 $base * 4;

      @include breakpoint-max(md) {
        flex-direction: column;
        align-items: start;
      }
    }

    &-text {
      flex-basis: 63%;

      @include breakpoint-max(md) {
        margin-bottom: $base * 5;
      }
    }

    &--active {
      #{$parent}-trigger {
        color: $color-dark-grey;
        font-weight: $fw-bold;

        &::before {
          color: $color-dark-grey;
          transform: translateY(-50%) rotate(180deg);
        }
      }

      #{$parent}-content {
        display: flex;
      }
    }
  }
}
