.section-features {
  text-align: center;
  background: url(../img/clouds.svg) no-repeat center;
  background-size: cover;

  &__title {
    margin-bottom: $base * 6;
  }

  &__btns {
    display: flex;
    justify-content: center;
  }
}

.features {
  $margin-left: $base * 16;
  $divider-width: $base * 7;

  @extend %list;

  display: flex;
  width: 761/900 * 100%;
  margin: $base * 23 auto;

  @include breakpoint-max(lg) {
    margin: $base * 15 auto;
  }

  @include breakpoint-max(md) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include breakpoint-max(sm) {
    justify-content: space-between;
    width: 100%;
    margin-bottom: $base * 4;
  }

  &__item {
    position: relative;
    flex-basis: 25%;

    & + & {
      margin-left: $margin-left;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -($margin-left + $divider-width)/2;

        right: 100%;
        width: $divider-width;
        height: 1px;
        background-color: $color-logo-grey;
      }

      @include breakpoint-max(sm) {
        margin-left: 0;

        &::before {
          display: none;
        }
      }
    }

    @include breakpoint-max(md) {
      flex-basis: 35%;
      margin-bottom: $base * 12;

      &:nth-child(3n) {
        margin-left: 0;

        &::before {
          display: none;
        }
      }
    }

    @include breakpoint-max(sm) {
      flex-basis: 45%;
    }
  }

  &__icon {
    width: $base * 17;
    height: $base * 17;
    margin: 0 auto $base * 8;
    color: $color-logo;
    font-size: $base * 5;
    line-height: $base * 17;
    background-color: $color-bg-grey;
    border-radius: 50%;

    &::before {
      vertical-align: middle;
    }

    @include breakpoint-max(md) {
      margin-bottom: $base * 5;
    }
  }

  &__title {
    margin-bottom: $base * 7;
    color: $color-logo;
    font-size: $fz-s;
    font-weight: $fw-bold;

    @include breakpoint-max(md) {
      margin-bottom: $base * 3;
    }
  }

  &__text {
    font-size: $fz-xs;
  }
}

.or-block {
  display: inline-flex;
  align-items: center;
  color: $color-logo-grey;
  font-size: $fz-xs;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    width: $base * 4;
    height: 1px;
    margin-right: $base * 4;
    margin-left: $base * 4;
    background-color: $color-logo-grey;
  }
}
