.section-footer {
  border-bottom: none;

  &__main-navigation {
    @include breakpoint-max(lg) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include breakpoint-max(md) {
      flex-direction: column;
    }
  }

  &__nav {
    @include breakpoint-max(lg) {
      margin-left: 15%;
    }

    @include breakpoint-max(md) {
      margin-top: $base * 7;
      margin-left: 0;
    }
  }

  &__copyright {
    @include quicksand();

    margin-top: $base * 7;
    margin-left: $base * 24;
    color: #aeb8d0;
    font-size: $fz-xs;
    font-weight: $fw-medium;

    @include breakpoint-max(lg) {
      margin: 0;
      text-align: center;
    }
  }
}
