.section-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: $color-white;

  &__nav {
    @include breakpoint-max(lg) {
      align-self: stretch;
    }
  }
}

.main-navigation {
  display: flex;
  align-items: center;

  &__inner {
    flex-grow: 1;
    display: flex;
    align-items: center;

    @include breakpoint-max(lg) {
      display: none;

      flex-direction: column;
      position: absolute;
      z-index: 10;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0;
      padding: $base * 5;
      background-color: $color-white;
    }
  }
}
.logo {
  width: $base * 6;
  height: $base * 6;
  background-color: $color-logo;
  border-radius: 50%;
}

.menu-icon {
  $parent: &;

  position: relative;
  display: none;
  margin-left: auto;
  width: $base * 10;
  height: $base * 9;
  padding: $base;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    width: $base * 6;
    height: $base/2;
    background-color: $color-logo-grey;
    transform: translateX(-50%);
    transition: $transition;
  }

  &::before {
    top: $base * 2;
  }

  &::after {
    bottom: $base * 2;
  }

  &__line {
    display: block;
    margin: 0 auto;
    width: $base * 6;
    height: $base/2;
    background-color: $color-logo-grey;
    transition: $transition;
  }

  &--active {
    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(40deg);
    }

    &::after {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-40deg);
    }

    #{$parent}__line {
      transform: scale(0);
    }
  }

  @include breakpoint-max(lg) {
    display: block;
  }
}

.nav {
  margin-left: $base * 18;

  @include breakpoint-max(xl) {
    margin-left: $base * 12;
  }

  @include breakpoint-max(lg) {
    margin-left: 0;
  }

  &__list {
    @extend %list;

    text-align: center;

    @include breakpoint-min(sm) {
      display: flex;
      justify-content: space-evenly;
    }
  }

  &__item {
    @include breakpoint-max(sm) {
      padding: $base * 5;
      border-bottom: 1px solid $color-bg-grey;
    }

    & + & {
      @include breakpoint-min(lg) {
        margin-left: $base * 8;
      }

      @include breakpoint-min(xl) {
        margin-left: $base * 10;
      }
    }
  }

  &__link {
    @include quicksand;

    color: $color-text;
    font-size: $fz-m;
    font-weight: $fw-medium;
    text-decoration: none;
    transition: $transition;

    &:hover {
      color: $color-logo;
    }
    &--active {
      color: $color-logo;
      font-weight: $fw-bold;
    }
  }
}
.socials {
  margin-left: auto;

  @include breakpoint-max(lg) {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: $base * 10;
    margin-bottom: $base * 3;
    margin-left: 0;
  }

  &__list {
    @extend %list;

    display: flex;
    align-items: center;
  }

  &__item {
    & + & {
      margin-left: $base * 8;
    }
  }

  &__link {
    display: block;
    color: $color-text;
    font-size: $fz-s;
    text-decoration: none;
    transition: $transition;

    &:hover,
    &--active {
      color: $color-logo;
    }
  }
}

// icons
.icon {
  &-facebook {
    font-size: $base * 4;
  }

  &-telegram {
    width: $base * 4;
    height: $base * 4;
    background: url(../img/icons/telegram.svg) no-repeat center;

    &:hover,
    .socials__link--active {
      background-image: url(../img/icons/telegram-hover.svg);
    }
  }

  &-medium {
    color: $color-dark-grey;
  }
}

.nav-btn {
  margin-left: $base * 11;

  @include breakpoint-max(lg) {
    margin: 0;
    margin-bottom: $base * 9;
  }
}
