.section-header {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }

  &__btn {
    margin-left: $base * 11;
  }
}
.main-navigation {
  display: flex;
  align-items: center;
}
.logo {
  width: $base * 6;
  height: $base * 6;
  background-color: $color-logo;
  border-radius: 50%;
}
.nav {
  margin-left: $base * 18;

  &__list {
    @extend %list;

    display: flex;
  }

  &__item {
    & + & {
      margin-left: $base * 10;
    }
  }

  &__link {
    @include quicksand;

    color: #697ca6;
    font-size: $fz-sm;
    font-weight: $fw-medium;
    text-decoration: none;
    transition: $transition;

    &:hover {
      color: $color-logo;
    }
    &--active {
      color: $color-logo;
      font-weight: $fw-bold;
    }
  }
}
.socials {
  margin-left: auto;

  &__list {
    @extend %list;

    display: flex;
  }

  &__item {
    & + & {
      margin-left: $base * 10;
    }
  }

  &__link {
    display: block;
    width: 17px;
    height: 17px;
    font-size: 0;
    background-repeat: no-repeat;
    transition: $transition;

    &--icon--facebook {
      margin-top: -3px;
      background-image: url(../img/icons/facebook.svg);
    }

    &--active#{&}--icon--facebook,
    &--icon--facebook:hover {
      background-image: url(../img/icons/facebook-hover.svg);
    }

    &--icon--telegram {
      background-image: url(../img/icons/telegram.svg);
    }

    &--active#{&}--icon--telegram,
    &--icon--telegram:hover {
      background-image: url(../img/icons/telegram-hover.svg);
    }

    &--icon--twitter {
      background-image: url(../img/icons/twitter.svg);
    }

    &--active#{&}--icon--twitter,
    &--icon--twitter:hover {
      background-image: url(../img/icons/twitter-hover.svg);
    }

    &--icon--medium {
      background-image: url(../img/icons/medium.svg);
    }

    &--active#{&}--icon--medium,
    &--icon--medium:hover {
      background-image: url(../img/icons/medium-hover.svg);
    }
  }
}
