.section-newsletter {
  background-color: #fcfdff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-max(md) {
      flex-direction: column;
    }
  }

  &__content {
    flex-basis: 40%;
  }

  &__title {
    margin-bottom: $base * 4;
    font-size: $fz-m;
    font-weight: $fw-bold;
  }

  &__form {
    flex-basis: 55%;
    display: flex;

    @include breakpoint-max(md) {
      width: 70%;
      margin-top: $base * 8;
    }

    @include breakpoint-max(sm) {
      width: 100%;
    }
  }

  &__input {
    &-email {
      flex-grow: 1;
      margin-right: $base * 3;
    }

    &-submit {
      padding: $base * 5 $base * 14;
      border-radius: $base * 1.25;

      @include breakpoint-max(xs) {
        padding-left: $base * 4;
        padding-right: $base * 4;
      }
    }
  }
}
