.section-newsletter {
  background-color: #fcfdff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    flex-basis: 40%;
  }

  &__title {
    margin-bottom: $base * 4;
    font-size: $fz-m;
    font-weight: $fw-bold;
  }

  &__form {
    flex-basis: 55%;
    display: flex;
  }

  &__input {
    &-email {
      flex-grow: 1;
      margin-right: $base * 3;
    }

    &-submit {
      padding: $base * 5 $base * 14;
      border-radius: $base * 1.25;
    }
  }
}
