.section-quotes {
  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: $base * 8;
  }

  &__subtitle {
    margin-bottom: $base * 5;
  }

  &__left {
    flex-basis: 44%;
  }
  &__right {
    flex-basis: 48%;
  }
}

.slider-quotes {
  @extend %list;

  margin: $base * -5 0 $base * 19;

  &__item {
    padding: $base * 10 $base * 15 $base * 13;
    background-color: $color-white;
    border: 1px solid $color-light-blue;
    box-shadow: 0px $base $base * 12 #f3f5fa;
    filter: drop-shadow(0px $base $base * 12 #d4dcf1);
    position: relative;

    &-text {
      color: $color-dark-grey;
      line-height: 1.7;
    }

    &-img {
      position: absolute;
      left: 50%;
      top: 100%;
      width: $base * 15;
      height: $base * 15;
      border-radius: 50%;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }
  }
}
