.section-quotes {
  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
  overflow: hidden;

  &__inner {
    display: flex;
    justify-content: space-between;

    @include breakpoint-max(sm) {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: $base * 8;
  }

  &__subtitle {
    margin-bottom: $base * 5;
  }

  &__right {
    position: relative;
    width: 48%;
  }

  &__left {
    width: 45%;

    @include breakpoint-max(sm) {
      margin-bottom: $base * 16;
    }

    @include breakpoint-max(xs) {
      position: relative;
      z-index: 10;
      margin-bottom: $base * 10;
    }
  }
}

.slider-quotes {
  width: calc(50vw + 48px);
  min-width: 0;
  margin-left: -48px;
  margin-top: -48px;
  margin-bottom: $base * 10;

  &__wrapper {
    @extend %list;
  }
  &__item {
    flex-basis: $base * 106;
    padding: $base * 12;
    opacity: 0.5;

    &.swiper-slide-active {
      opacity: 1;
    }

    @include breakpoint-max(xs) {
      padding: $base * 8;
      padding-bottom: $base * 12;
    }

    &-content {
      position: relative;
      padding: $base * 10 $base * 15 $base * 13;
      box-sizing: border-box;
      background-color: $color-white;
      border: 1px solid $color-light-blue;
      box-shadow: 0px $base $base * 12 #f3f5fa;
      box-shadow: 0px $base $base * 12 #d4dcf1;
    }
    &-text {
      color: $color-dark-grey;
      line-height: 1.7;
    }

    &-img {
      position: absolute;
      left: 50%;
      top: 100%;
      width: $base * 15;
      height: $base * 15;
      border-radius: 50%;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }
  }
}
