.dots, .nav__list, .socials__list, .slider-hero-image, .customers, .features, .slider-blog, .slider-quotes, .section-faq__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn, .slider-hero-image__btn, .slider-blog__link, .blog-arrow, .section-faq__item-trigger-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 80px;
  color: #8d96bd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 1px solid transparent;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.section-outer {
  border-bottom: 1px solid #d8e3fe;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.section-inner--wide {
  max-width: 1200px;
}

.vertical-indent--s {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.vertical-indent--m {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.vertical-indent--l {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.vertical-indent--xl {
  padding-top: 13.25rem;
  padding-bottom: 13.25rem;
}

@media (max-width: 991px) {
  .vertical-indent--m {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .vertical-indent--l {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .vertical-indent--xl {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

@media (max-width: 767px) {
  .vertical-indent--xl {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}

@media (max-width: 575px) {
  .vertical-indent--l {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .vertical-indent--xl {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 399px) {
  .vertical-indent--xl {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

.btn {
  font-family: "Quicksand", sans-serif;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 0.125rem;
  outline-color: #3d4f9f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn[class*="primary"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7rem;
  padding: 0.75rem 0.5rem;
  text-align: center;
  word-wrap: break-word;
}

.btn--primary--blue {
  color: #5e81fe;
  background-color: #d8e3fe;
}

.btn--primary--blue:hover {
  background-color: #bfd1fd;
}

.btn--primary--pink {
  color: #d43f3f;
  background-color: #ffd7d7;
}

.btn--primary--pink:hover {
  background-color: #ffbebe;
}

.btn--secondary--dark {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: #ffffff;
  background-color: #5e81fe;
}

.btn--secondary--dark:hover {
  background-color: #2b59fe;
}

.btn--secondary--light {
  padding-right: 2rem;
  padding-left: 2rem;
  color: #757e9a;
  background-color: #ffffff;
}

.btn--secondary--light:hover {
  background-color: #e6e6e6;
}

.btn--no-bg {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  color: #8d96bd;
  font-weight: 500;
  border: 1px solid #d6dae5;
}

.btn--no-bg:hover {
  color: #6d78aa;
  border: 1px solid #b7bed1;
}

.btn--no-bg--light {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  color: #d6dae5;
  font-weight: 500;
  border: 1px solid #d6dae5;
}

.btn--no-bg--light:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn--grey {
  padding: 1rem 2.25rem;
  color: #8d96bd;
  background-color: #e8ecf4;
}

.btn--grey:hover {
  background-color: #c6d0e4;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-group .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input {
  font-family: "Quicksand", sans-serif;
  padding: 1.25rem 1.5rem;
  color: #8d96bd;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: #e8ecf4;
  border: 1px solid transparent;
  border-radius: 0.3125rem;
  outline-color: #3d4f9f;
}

.input::-webkit-input-placeholder {
  font-family: "Quicksand", sans-serif;
  color: #8d96bd;
  font-size: 0.75rem;
  font-weight: 700;
}

.input:-ms-input-placeholder {
  font-family: "Quicksand", sans-serif;
  color: #8d96bd;
  font-size: 0.75rem;
  font-weight: 700;
}

.input::-ms-input-placeholder {
  font-family: "Quicksand", sans-serif;
  color: #8d96bd;
  font-size: 0.75rem;
  font-weight: 700;
}

.input::placeholder {
  font-family: "Quicksand", sans-serif;
  color: #8d96bd;
  font-size: 0.75rem;
  font-weight: 700;
}

.title {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #3d4f9f;
  font-weight: 500;
}

.title--center {
  text-align: center;
}

.title__section {
  margin-bottom: 1rem;
  font-size: 0.625rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1.75rem;
  font-size: 1.5rem;
}

.subtitle--medium {
  font-size: 2.25rem;
}

.subtitle--large {
  font-size: 3rem;
}

@media (max-width: 399px) {
  .subtitle--large {
    font-size: 2.5rem;
  }
}

.subtitle span {
  font-weight: 300;
}

.text {
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03em;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dots__item {
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
  background-color: #d8e3fe;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dots__item--active {
  background-color: #5e81fe;
}

.dots__item + .dots__item {
  margin-left: 0.75rem;
}

.section-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #ffffff;
}

.section-header::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-header--active-nav::before {
  display: block;
}

.section-header--active-nav .main-navigation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .section-header__nav {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation__inner {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .main-navigation__inner {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 1.25rem;
    background-color: #ffffff;
  }
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #5e81fe;
  border-radius: 50%;
}

.menu-icon {
  position: relative;
  display: none;
  margin-left: auto;
  width: 2.5rem;
  height: 2.25rem;
  padding: 0.25rem;
}

.menu-icon::before, .menu-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 1.5rem;
  height: 0.125rem;
  background-color: #d6dae5;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-icon::before {
  top: 0.5rem;
}

.menu-icon::after {
  bottom: 0.5rem;
}

.menu-icon__line {
  display: block;
  margin: 0 auto;
  width: 1.5rem;
  height: 0.125rem;
  background-color: #d6dae5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-icon--active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(40deg);
          transform: translate(-50%, -50%) rotate(40deg);
}

.menu-icon--active::after {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-40deg);
          transform: translate(-50%, -50%) rotate(-40deg);
}

.menu-icon--active .menu-icon__line {
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (max-width: 991px) {
  .menu-icon {
    display: block;
  }
}

.nav {
  margin-left: 4.5rem;
}

@media (max-width: 1199px) {
  .nav {
    margin-left: 3rem;
  }
}

@media (max-width: 991px) {
  .nav {
    margin-left: 0;
  }
}

.nav__list {
  text-align: center;
}

@media (min-width: 576px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 575px) {
  .nav__item {
    padding: 1.25rem;
    border-bottom: 1px solid #e8ecf4;
  }
}

@media (min-width: 992px) {
  .nav__item + .nav__item {
    margin-left: 2rem;
  }
}

@media (min-width: 1200px) {
  .nav__item + .nav__item {
    margin-left: 2.5rem;
  }
}

.nav__link {
  font-family: "Quicksand", sans-serif;
  color: #8d96bd;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__link:hover {
  color: #5e81fe;
}

.nav__link--active {
  color: #5e81fe;
  font-weight: 700;
}

.socials {
  margin-left: auto;
}

@media (max-width: 991px) {
  .socials {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 0.75rem;
    margin-left: 0;
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item + .socials__item {
  margin-left: 2rem;
}

.socials__link {
  display: block;
  color: #8d96bd;
  font-size: 0.9375rem;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials__link:hover, .socials__link--active {
  color: #5e81fe;
}

.icon-facebook {
  font-size: 1rem;
}

.icon-telegram {
  width: 1rem;
  height: 1rem;
  background: url(../img/icons/telegram.svg) no-repeat center;
}

.icon-telegram:hover,
.icon-telegram .socials__link--active {
  background-image: url(../img/icons/telegram-hover.svg);
}

.icon-medium {
  color: #757e9a;
}

.nav-btn {
  margin-left: 2.75rem;
}

@media (max-width: 991px) {
  .nav-btn {
    margin: 0;
    margin-bottom: 2.25rem;
  }
}

.section-hero-image {
  position: relative;
  background-color: #f4f7ff;
}

.section-hero-image__dots {
  position: absolute;
  bottom: 1.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-hero-image {
  position: relative;
}

.slider-hero-image__item {
  height: 35rem;
  text-align: center;
  background-position: 50% 85%;
  background-size: cover;
}

@media (max-width: 991px) {
  .slider-hero-image__item {
    height: 32.5rem;
  }
}

@media (max-width: 767px) {
  .slider-hero-image__item {
    height: 35rem;
  }
}

@media (max-width: 575px) {
  .slider-hero-image__item {
    background-position: 42% 85%;
  }
}

.slider-hero-image__text {
  width: 55%;
  margin: 0 auto 1.25rem;
}

@media (max-width: 767px) {
  .slider-hero-image__text {
    width: 70%;
  }
}

@media (max-width: 575px) {
  .slider-hero-image__text {
    width: 90%;
  }
}

.slider-hero-image__btn {
  position: relative;
  display: inline-block;
  width: 3.25rem;
  height: 3.25rem;
  color: #5e81fe;
  font-size: 0.75rem;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0.5rem 3rem rgba(201, 209, 231, 0.6);
          box-shadow: 0px 0.5rem 3rem rgba(201, 209, 231, 0.6);
}

.slider-hero-image__btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-35%, -40%);
          transform: translate(-35%, -40%);
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .customers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .customers__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-bottom: 2rem;
    text-align: center;
  }
  .customers__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .customers__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

.customers__link {
  color: #d6dae5;
  font-size: 1.75rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.customers__link:hover, .customers__link--active {
  color: #5e81fe;
}

@media (max-width: 991px) {
  .customers__link {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .customers__link {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .customers__link {
    font-size: 1.75rem;
  }
}

@media (max-width: 399px) {
  .customers__link {
    font-size: 1.5rem;
  }
}

.section-app-demo {
  position: relative;
  overflow: hidden;
}

.section-app-demo__content {
  max-width: 45%;
}

@media (max-width: 767px) {
  .section-app-demo__content {
    max-width: 55%;
  }
}

@media (max-width: 575px) {
  .section-app-demo__content {
    max-width: 100%;
  }
}

.section-app-demo__img {
  position: absolute;
  z-index: -1;
  top: 18%;
  left: 44%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .section-app-demo__img {
    left: 35%;
    top: 13%;
  }
}

@media (max-width: 575px) {
  .section-app-demo__img {
    top: 18%;
    left: -23%;
  }
}

.section-app-demo__title {
  margin-bottom: 1.75rem;
}

.section-app-demo__text {
  margin-bottom: 3rem;
}

@media (max-width: 575px) {
  .section-app-demo__text {
    margin-top: 115%;
  }
}

@media (max-width: 399px) {
  .section-app-demo__text {
    margin-top: 155%;
  }
}

.section-app-demo .btn--secondary--dark {
  position: relative;
  padding-right: 2.25rem;
}

.section-app-demo .btn--secondary--dark::before {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  font-size: 0.45rem;
  -webkit-transform: translateY(-51%);
          transform: translateY(-51%);
}

.section-features {
  text-align: center;
  background: url(../img/clouds.svg) no-repeat center;
  background-size: cover;
}

.section-features__title {
  margin-bottom: 1.5rem;
}

.section-features__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 84.55556%;
  margin: 5.75rem auto;
}

@media (max-width: 991px) {
  .features {
    margin: 3.75rem auto;
  }
}

@media (max-width: 767px) {
  .features {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 575px) {
  .features {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 399px) {
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features__item {
  position: relative;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.features__item + .features__item {
  margin-left: 4rem;
}

.features__item + .features__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2.875rem;
  right: 100%;
  width: 1.75rem;
  height: 1px;
  background-color: #d6dae5;
}

@media (max-width: 575px) {
  .features__item + .features__item {
    margin-left: 0;
  }
  .features__item + .features__item::before {
    display: none;
  }
}

@media (max-width: 767px) {
  .features__item {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    margin-bottom: 3rem;
  }
  .features__item:nth-child(3n) {
    margin-left: 0;
  }
  .features__item:nth-child(3n)::before {
    display: none;
  }
}

@media (max-width: 575px) {
  .features__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

.features__icon {
  width: 4.25rem;
  height: 4.25rem;
  margin: 0 auto 2rem;
  color: #5e81fe;
  font-size: 1.25rem;
  line-height: 4.25rem;
  background-color: #e8ecf4;
  border-radius: 50%;
}

.features__icon::before {
  vertical-align: middle;
}

@media (max-width: 767px) {
  .features__icon {
    margin-bottom: 1.25rem;
  }
}

.features__title {
  margin-bottom: 1.75rem;
  color: #5e81fe;
  font-size: 0.9375rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  .features__title {
    margin-bottom: 0.75rem;
  }
}

.features__text {
  font-size: 0.75rem;
}

@media (max-width: 399px) {
  .features__text {
    max-width: 60%;
    margin: 0 auto;
  }
}

.or-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d6dae5;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.or-block::before, .or-block::after {
  content: "";
  width: 1rem;
  height: 1px;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: #d6dae5;
}

@media (max-width: 575px) {
  .or-block {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .or-block::before, .or-block::after {
    display: none;
  }
}

.section-stats {
  font-family: "Quicksand", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 399px) {
  .section-stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-stats__left, .section-stats__right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 5.5rem;
}

@media (max-width: 767px) {
  .section-stats__left, .section-stats__right {
    padding: 3rem;
  }
}

@media (max-width: 575px) {
  .section-stats__left, .section-stats__right {
    padding: 1.5rem;
  }
}

@media (max-width: 399px) {
  .section-stats__left, .section-stats__right {
    text-align: center;
  }
}

.section-stats__left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #ffffff;
  text-align: right;
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
}

@media (max-width: 399px) {
  .section-stats__left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.section-stats__right {
  color: #5e81fe;
  background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
}

.section-stats__icon {
  margin-bottom: 1.5rem;
  font-size: 4rem;
}

.section-stats__amount {
  margin: 0;
  margin-bottom: 1.75rem;
  font-size: 2.25rem;
}

@media (max-width: 575px) {
  .section-stats__amount {
    margin-bottom: 1rem;
  }
}

.section-stats__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

@media (min-width: 1400px) {
  .section-stats__description {
    width: 43%;
  }
}

@media (min-width: 1200px) {
  .section-stats__description {
    width: 53%;
  }
}

@media (max-width: 575px) {
  .section-stats__description {
    font-size: 1rem;
  }
}

@media (max-width: 399px) {
  .section-stats__description {
    max-width: 80%;
    margin: 0 auto;
  }
}

.section-blog {
  background-color: #f5f8ff;
}

.section-blog__title {
  text-align: center;
}

.slider-wrapper {
  position: relative;
  margin: 5rem auto;
}

@media (max-width: 991px) {
  .slider-wrapper {
    margin: 3.25rem auto;
  }
}

@media (max-width: 991px) {
  .slider-wrapper {
    margin: 2rem auto;
  }
}

.slider-blog {
  background-color: #ffffff;
  border: 1px solid #d6dae5;
  -webkit-box-shadow: 0px 1rem 3rem #eff4ff;
          box-shadow: 0px 1rem 3rem #eff4ff;
}

@media (max-width: 767px) {
  .slider-blog {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .slider-blog {
    width: auto;
  }
}

.slider-blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2rem;
}

@media (max-width: 991px) {
  .slider-blog__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (max-width: 767px) {
  .slider-blog__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
}

@media (max-width: 399px) {
  .slider-blog__item {
    padding: 1rem;
  }
}

.slider-blog__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (7.5rem)[3];
      grid-template-columns: repeat(3, 7.5rem);
  -ms-grid-rows: (7.5rem)[2];
      grid-template-rows: repeat(2, 7.5rem);
  gap: 0.75rem;
  margin: 0;
  margin-right: 2.5rem;
}

@media (max-width: 991px) {
  .slider-blog__gallery {
    -ms-grid-columns: (6.25rem)[3];
        grid-template-columns: repeat(3, 6.25rem);
    -ms-grid-rows: (6.25rem)[2];
        grid-template-rows: repeat(2, 6.25rem);
    gap: 0.5rem;
    margin-right: 1.75rem;
  }
}

@media (max-width: 767px) {
  .slider-blog__gallery {
    margin: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 575px) {
  .slider-blog__gallery {
    -ms-grid-columns: (5.25rem)[3];
        grid-template-columns: repeat(3, 5.25rem);
    -ms-grid-rows: (5.25rem)[2];
        grid-template-rows: repeat(2, 5.25rem);
  }
}

@media (max-width: 399px) {
  .slider-blog__gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (6.75rem)[3];
        grid-template-rows: repeat(3, 6.75rem);
    gap: 0.75rem;
  }
}

.slider-blog__img-link {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0px 1rem 6.25rem #e5ebf8;
          box-shadow: 0px 1rem 6.25rem #e5ebf8;
}

.slider-blog__img-link::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 3.75rem;
  height: 3.75rem;
  color: #8d96bd;
  font-size: 0.9375rem;
  line-height: 4rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-blog__img-link:hover::before, .slider-blog__img-link:focus::before {
  opacity: 1;
}

.slider-blog__img-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slider-blog__img-link--big {
  grid-column: span 2;
  -ms-grid-column-span: 2;
  grid-row: span 2;
  -ms-grid-row-span: 2;
}

@media (max-width: 399px) {
  .slider-blog__img-link--big {
    grid-column: span 2;
    -ms-grid-column-span: 2;
  }
}

.slider-blog__img-link--big::after {
  background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
}

.slider-blog__img-link--s--pink {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}

.slider-blog__img-link--s--pink::after {
  background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%);
}

.slider-blog__img-link--s--blue {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
}

.slider-blog__img-link--s--blue::after {
  background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%);
}

.slider-blog__img-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-blog__article {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 767px) {
  .slider-blog__article {
    position: relative;
    z-index: 10;
  }
}

.slider-blog__subtitle {
  font-weight: 400;
}

@media (max-width: 767px) {
  .slider-blog__subtitle {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .slider-blog__subtitle {
    text-align: left;
  }
}

@media (max-width: 575px) {
  .slider-blog__subtitle {
    font-size: 2.125rem;
  }
}

.slider-blog__text {
  margin: 2rem 0;
  font-size: 0.9375rem;
  letter-spacing: normal;
  overflow: hidden;
}

.slider-blog__article-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 399px) {
  .slider-blog__article-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slider-blog__link {
  margin-left: 0.5rem;
  color: #a8b4e5;
  font-weight: 700;
}

.slider-blog__link:hover {
  color: #8192d9;
}

@media (max-width: 399px) {
  .slider-blog__link {
    margin-left: 0;
    margin-top: 0.75rem;
  }
}

.blog-arrow {
  position: absolute;
  top: 50%;
  width: 2.5rem;
  height: 2.5rem;
  color: #a8b4e5;
  text-align: center;
  line-height: 2.5rem;
  vertical-align: middle;
}

.blog-arrow:hover {
  color: #8192d9;
}

.blog-arrow--prev {
  right: 100%;
  margin-right: 4rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.blog-arrow--next {
  left: 100%;
  margin-left: 4rem;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 1199px) {
  .blog-arrow {
    display: none;
  }
}

.section-quotes {
  background: -webkit-gradient(linear, left top, left bottom, from(#eaf0ff), to(#f6f9ff));
  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
}

.section-quotes__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

@media (max-width: 575px) {
  .section-quotes__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-quotes__title {
  margin-bottom: 2rem;
}

.section-quotes__subtitle {
  margin-bottom: 1.25rem;
}

.section-quotes__left {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
}

@media (max-width: 575px) {
  .section-quotes__left {
    margin-bottom: 4rem;
  }
}

@media (max-width: 399px) {
  .section-quotes__left {
    position: relative;
    z-index: 10;
    margin-bottom: 2.5rem;
  }
}

.section-quotes__right {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.slider-quotes {
  margin: -1.25rem 0 4.75rem;
}

.slider-quotes__item {
  padding: 2.5rem 3.75rem 3.25rem;
  background-color: #ffffff;
  border: 1px solid #d8e3fe;
  -webkit-box-shadow: 0px 0.25rem 3rem #f3f5fa;
          box-shadow: 0px 0.25rem 3rem #f3f5fa;
  -webkit-filter: drop-shadow(0px 0.25rem 3rem #d4dcf1);
          filter: drop-shadow(0px 0.25rem 3rem #d4dcf1);
  position: relative;
}

@media (max-width: 399px) {
  .slider-quotes__item {
    padding: 2rem;
    padding-bottom: 3rem;
  }
}

.slider-quotes__item-text {
  color: #757e9a;
  line-height: 1.7;
}

.slider-quotes__item-img {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-faq__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

@media (max-width: 575px) {
  .section-faq__inner {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.section-faq__subtitle {
  margin-bottom: 4.25rem;
}

@media (max-width: 575px) {
  .section-faq__subtitle {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 399px) {
  .section-faq__subtitle {
    margin-bottom: 1.25rem;
  }
}

.section-faq__item {
  padding: 1.5rem;
  padding-left: 4.5rem;
  border-bottom: 1px solid #d6dae5;
}

@media (max-width: 399px) {
  .section-faq__item {
    padding: 1rem;
    padding-left: 2.5rem;
  }
}

.section-faq__item-trigger {
  font-family: "Quicksand", sans-serif;
  position: relative;
  margin: 0;
  cursor: pointer;
}

.section-faq__item-trigger-btn {
  display: block;
  width: 100%;
  padding: 0 0.25rem;
  color: #8d96bd;
  text-align: left;
  outline-color: #e8ecf4;
}

.section-faq__item-trigger::before {
  position: absolute;
  top: 50%;
  left: -3rem;
  width: 2rem;
  height: 2rem;
  font-size: 0.75rem;
  text-align: center;
  line-height: 2rem;
  vertical-align: middle;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 399px) {
  .section-faq__item-trigger::before {
    left: -2.5rem;
    font-size: 0.625rem;
  }
}

.section-faq__item-content {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0 1.5rem 1rem;
}

@media (max-width: 767px) {
  .section-faq__item-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.section-faq__item-text {
  -ms-flex-preferred-size: 63%;
      flex-basis: 63%;
}

@media (max-width: 767px) {
  .section-faq__item-text {
    margin-bottom: 1.25rem;
  }
}

.section-faq__item--active .section-faq__item-trigger-btn {
  color: #757e9a;
  font-weight: 700;
}

.section-faq__item--active .section-faq__item-trigger::before {
  color: #757e9a;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.section-faq__item--active .section-faq__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-start {
  position: relative;
  color: #ffffff;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#6888ff), to(#5e80ff));
  background: linear-gradient(#6888ff, #5e80ff);
}

.section-start::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/clouds-dark.svg) no-repeat center;
  background-size: contain;
}

.section-start__inner {
  position: relative;
  z-index: 2;
}

.section-start__title {
  color: #ffffff;
}

.section-start__text {
  max-width: 80%;
  margin: 0 auto 3rem;
}

@media (max-width: 399px) {
  .section-start__text {
    min-width: 85%;
    margin-bottom: 2.5rem;
  }
}

.section-start__btn-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-newsletter {
  background-color: #fcfdff;
}

.section-newsletter__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .section-newsletter__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-newsletter__content {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.section-newsletter__title {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.section-newsletter__form {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .section-newsletter__form {
    width: 70%;
    margin-top: 2rem;
  }
}

@media (max-width: 575px) {
  .section-newsletter__form {
    width: 100%;
  }
}

.section-newsletter__input-email {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 0.75rem;
}

.section-newsletter__input-submit {
  padding: 1.25rem 3.5rem;
  border-radius: 0.3125rem;
}

@media (max-width: 399px) {
  .section-newsletter__input-submit {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.section-footer {
  border-bottom: none;
}

@media (max-width: 991px) {
  .section-footer__main-navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .section-footer__main-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 991px) {
  .section-footer__nav {
    margin-left: 10%;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

@media (max-width: 767px) {
  .section-footer__nav {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    margin-top: 1.75rem;
    margin-left: 0;
  }
}

.section-footer__copyright {
  font-family: "Quicksand", sans-serif;
  margin-top: 1.75rem;
  margin-left: 6rem;
  color: #aeb8d0;
  font-size: 0.75rem;
  font-weight: 500;
}

@media (max-width: 991px) {
  .section-footer__copyright {
    margin: 0;
    text-align: center;
  }
}
