@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
.dots, .nav__list, .socials__list, .slider-hero-image, .customers, .features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn, .slider-hero-image__btn {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #8d96bd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 1px solid transparent;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.section-outer {
  border-bottom: 1px solid #d8e3fe;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 120px 10px;
}

.section-inner--wide {
  max-width: 1200px;
}

.btn {
  font-family: "Quicksand", sans-serif;
  padding: 12px 16px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn--primary--blue {
  color: #3a79ff;
  background-color: #d2e1ff;
}

.btn--primary--blue:hover {
  background-color: #b9d0ff;
}

.btn--primary--pink {
  color: #d43f3f;
  background-color: #ffd7d7;
}

.btn--primary--pink:hover {
  background-color: #ffbebe;
}

.btn--secondary {
  padding-right: 24px;
  padding-left: 24px;
  color: #ffffff;
  background-color: #4c85ff;
  border: 1px solid transparent;
}

.btn--secondary:hover {
  background-color: #1962ff;
}

.btn--no-bg {
  padding-right: 20px;
  padding-left: 20px;
  color: #adb4d2;
  border: 1px solid #d1d1e4;
}

.btn--no-bg:hover {
  color: #8c96c0;
  border: 1px solid #b1b1d1;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-group .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  color: #3d4f9f;
  font-weight: 500;
}

h1,
h2 {
  margin-bottom: 28px;
  font-size: 48px;
}

h3 {
  font-size: 36px;
  margin-bottom: 28px;
}

h4 {
  font-size: 24px;
  margin-bottom: 92px;
}

h5 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 16px;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title__light {
  font-weight: 300;
}

.text {
  margin: 0;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dots__item {
  width: 8px;
  height: 8px;
  cursor: pointer;
  background-color: #d1d6e3;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dots__item--active {
  background-color: #5e81fe;
}

.dots__item + .dots__item {
  margin-left: 12px;
}

.section-header .section-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-header__btn {
  margin-left: 44px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  background-color: #5e81fe;
  border-radius: 50%;
}

.nav {
  margin-left: 72px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 40px;
}

.nav__link {
  font-family: "Quicksand", sans-serif;
  color: #697ca6;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__link:hover {
  color: #5e81fe;
}

.nav__link--active {
  color: #5e81fe;
  font-weight: 700;
}

.socials {
  margin-left: auto;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item + .socials__item {
  margin-left: 32px;
}

.socials__link {
  display: block;
  color: #b6bac7;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials__link:hover, .socials__link--active {
  color: #6188ff;
}

.icon-facebook {
  font-size: 16px;
}

.icon-telegram {
  width: 14px;
  height: 13px;
  background: url(../img/icons/telegram.svg);
}

.icon-telegram:hover,
.icon-telegram .socials__link--active {
  background-image: url(../img/icons/telegram-hover.svg);
}

.icon-medium {
  color: #757e9a;
}

.section-hero-image {
  background-color: #f4f7ff;
}

.slider-hero-image {
  position: relative;
}

.slider-hero-image__item {
  height: 560px;
  text-align: center;
  background-position: 50% 85%;
  background-size: cover;
}

.slider-hero-image__text {
  width: 55%;
  margin: 0 auto 20px;
}

.slider-hero-image__btn {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 52px;
  color: #5e81ff;
  font-size: 12px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
          box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
}

.slider-hero-image__btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-35%, -40%);
          transform: translate(-35%, -40%);
}

.slider-hero-image__dots {
  position: absolute;
  bottom: 28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-customers .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__item {
  color: #d6dae5;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.customers__item:hover, .customers__item--active {
  color: #5982e7;
}

.section-app-demo {
  position: relative;
  overflow: hidden;
}

.section-app-demo__inner {
  padding-top: 212px;
}

.section-app-demo__content {
  max-width: 45%;
}

.section-app-demo__img {
  position: absolute;
  z-index: -1;
  top: 18%;
  left: 44%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-app-demo__subtitle {
  margin-bottom: 28px;
}

.section-app-demo__text {
  margin-bottom: 48px;
}

.section-app-demo .btn--secondary {
  position: relative;
  padding-right: 36px;
}

.section-app-demo .btn--secondary::before {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 7px;
}

.section-features {
  text-align: center;
  background: url(../img/clouds.svg) no-repeat center;
}

.section-features__subtitle {
  margin-bottom: 24px;
}

.section-features__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 84.55556%;
  margin: 0 auto 92px;
}

.features__item {
  position: relative;
  width: 140px;
}

.features__item + .features__item {
  margin-left: 66px;
}

.features__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -47px;
  right: 100%;
  width: 28px;
  height: 1px;
  background-color: #dae4fe;
}

.features__icon {
  width: 68px;
  height: 68px;
  margin: 0 auto 32px;
  color: #4074f8;
  font-size: 20px;
  line-height: 68px;
  vertical-align: middle;
  background-color: #f1f5ff;
  border-radius: 50%;
}

.features__title {
  margin-bottom: 24px;
  color: #4074f8;
  font-size: 15px;
  font-weight: 700;
}

.features__text {
  font-size: 12px;
}

.or-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #adb3cb;
  font-size: 12px;
  text-transform: uppercase;
}

.or-block::before, .or-block::after {
  content: "";
  width: 16px;
  height: 1px;
  margin-right: 16px;
  margin-left: 16px;
  background-color: #dae4fe;
}

.section-stats {
  background-color: #e9efff;
}

.section-stats .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-blog {
  background-color: #f5f8ff;
}

.section-quotes {
  background-color: #eaf0ff;
}

.section-get-started {
  background-color: #6888ff;
}

.section-newsletter {
  background-color: #fcfdff;
}

.section-footer {
  border-bottom: none;
}

.section-footer .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-footer__copyright {
  font-family: "Quicksand", sans-serif;
  margin-top: 28px;
  margin-left: 96px;
  color: #aeb8d0;
  font-size: 12px;
  font-weight: 500;
}
