@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

// === MIXINS ===
@mixin quicksand {
  font-family: "Quicksand", sans-serif;
}
@mixin roboto {
  font-family: "Roboto", sans-serif;
}
// === / MIXINS ===

// === PLACEHOLDERS ===
%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%btn {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: transparent;
  border: 0;
}
// === / PLACEHOLDERS ===

// === VARIABLES ===
$base: 4px;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fz-sm: 12px;
$fz-md: 15px;

$padding-vertical-xs: $base * 5;
$padding-vertical-s: $base * 15;
$padding-vertical: $base * 30;

$transition: 0.2s;

$color-divider: #d8e3fe;
$color-primary: #8d96bd;
$color-secondary: #3d4f9f;
$color-logo: #5e81fe;

// === / VARIABLES ===

// === COMMON ===
body {
  @include roboto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}
.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1200px;
  }
}

.btn {
  @extend %btn;
  @include quicksand;

  padding: $base * 3 $base * 4;
  font-size: $fz-sm;
  font-weight: $fw-bold;
  border-radius: 2px;
  transition: $transition;

  &--primary {
    color: #3a79ff;
    background-color: #d2e1ff;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }
}
// === / COMMON ===

// === HEADER ===
.section-header {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }

  &__btn {
    margin-left: $base * 11;
  }
}
.main-navigation {
  display: flex;
  align-items: center;
}
.logo {
  width: $base * 6;
  height: $base * 6;
  background-color: $color-logo;
  border-radius: 50%;
}
.nav {
  margin-left: $base * 18;

  &__list {
    @extend %list;

    display: flex;
  }

  &__item {
    & + & {
      margin-left: $base * 10;
    }
  }

  &__link {
    @include quicksand;

    color: #697ca6;
    font-size: $fz-sm;
    font-weight: $fw-medium;
    text-decoration: none;
    transition: $transition;

    &:hover {
      color: $color-logo;
    }
    &--active {
      color: $color-logo;
      font-weight: $fw-bold;
    }
  }
}
.socials {
  margin-left: auto;

  &__list {
    @extend %list;

    display: flex;
  }

  &__item {
    & + & {
      margin-left: $base * 10;
    }
  }

  &__link {
    display: block;
    width: 17px;
    height: 17px;
    font-size: 0;
    background-repeat: no-repeat;
    transition: $transition;

    &--icon--facebook {
      margin-top: -3px;
      background-image: url(../img/icons/facebook.svg);
    }

    &--active#{&}--icon--facebook,
    &--icon--facebook:hover {
      background-image: url(../img/icons/facebook-hover.svg);
    }

    &--icon--telegram {
      background-image: url(../img/icons/telegram.svg);
    }

    &--active#{&}--icon--telegram,
    &--icon--telegram:hover {
      background-image: url(../img/icons/telegram-hover.svg);
    }

    &--icon--twitter {
      background-image: url(../img/icons/twitter.svg);
    }

    &--active#{&}--icon--twitter,
    &--icon--twitter:hover {
      background-image: url(../img/icons/twitter-hover.svg);
    }

    &--icon--medium {
      background-image: url(../img/icons/medium.svg);
    }

    &--active#{&}--icon--medium,
    &--icon--medium:hover {
      background-image: url(../img/icons/medium-hover.svg);
    }
  }
}

// === / HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
  background-color: #f4f7ff;
}
// === / HERO-IMAGE ===

// === CUSTOMERS ===
.section-customers {
  .section-inner {
    padding-top: $padding-vertical-s;
    padding-bottom: $padding-vertical-s;
  }
}
// === / CUSTOMERS ===

// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
  background-color: #e4e6f0;
}
// === / PLAN-AND-MANAGE ===

// === FEATURES ===
.section-features {
}
// === / FEATURES ===

// === STATS ===
.section-stats {
  background-color: #e9efff;
  .section-inner {
    padding-top: $padding-vertical-s;
    padding-bottom: $padding-vertical-s;
  }
}
// === / STATS ===

// === BLOG ===
.section-blog {
  background-color: #f5f8ff;
}
// === / BLOG ===

// === QUOTES ===
.section-quotes {
  background-color: #eaf0ff;
}
// === / QUOTES ===

// === FAQ ===
.section-faq {
}
// === / FAQ ===

// === GET-STARTED ===
.section-get-started {
  background-color: #6888ff;
}
// === / GET-STARTED ===

// === NEWSLETTER ===
.section-newsletter {
  background-color: #fcfdff;
}
// === / NEWSLETTER ===

// === FOOTER ===
.section-footer {
  border-bottom: none;
  .section-inner {
    padding-top: $padding-vertical-s;
    padding-bottom: $padding-vertical-s;
  }

  &__copyright {
    @include quicksand();

    margin-top: $base * 7;
    margin-left: $base * 24;
    color: #aeb8d0;
    font-size: $fz-sm;
    font-weight: $fw-medium;
  }
}
// === / FOOTER ===
