@media (max-width: 1220px) {
  .popular__item {
    width: 50%;
    margin-bottom: 50px;
  }

  .popular__img {
    width: 400px;
    height: 400px;
  }

  .reasons__inner {
    justify-content: space-around;
  }

  .reasons__item {
    width: 480px;
    padding-right: 0;
  }

  .special {
    min-height: 80vh;
  }
}

@media (max-width: 1140px) {
  .info__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .info__blog {
    margin-left: 100px;
  }

  .info__managers,
  .info__blog {
    margin-bottom: 50px;
  }
}

@media (max-width: 980px) {
  .popular__inner,
  .reasons,
  .info,
  .footer__top {
    padding: 50px 0;
  }

  .search__form {
    flex-wrap: wrap;
  }

  .search__form-label {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .popular__img {
    width: 300px;
    height: 300px;
  }

  .reasons__inner {
    flex-wrap: wrap;
  }

  .reasons__item {
    width: 100%;
    margin: 0 50px 50px;
    padding: 0;
  }

  .reasons__text,
  .reasons__link {
    margin-left: 138px;
  }

  .reasons__text {
    margin-bottom: 20px;
  }

  .special {
    min-height: 600px;
  }

  .info__blog {
    width: 655px;
    margin-left: 0;
  }

  .info__blog-list {
    margin-left: 150px;
  }

  .footer__top-inner {
    display: block;
  }

  .footer__menu {
    margin: 0 auto;
    text-align: center;
  }

  .question__form {
    width: 80vw;
    margin: 30px auto 0;
  }
}

@media (max-width: 768px) {
  .header__logo {
    padding: 40px 0 25px;
  }

  .logo__link-img {
    max-width: 250px;
    height: 120px;
  }

  .menu__link-link {
    padding: 22px 10px 27px;
  }

  .slider__item {
    min-height: 400px;
  }

  .popular__item {
    width: 100%;
  }

  .popular__img {
    width: 400px;
    height: 400px;
  }

  .reasons__title {
    min-height: 60px;
    padding-left: 70px;
  }

  .reasons__title::before {
    width: 50px;
    height: 50px;
    background-size: cover;
  }

  .reasons__text,
  .reasons__link {
    margin-left: 0;
  }

  .reasons__title::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .special {
    min-height: 400px;
  }

  .special__title {
    padding-top: 40px;
  }

  .question__form {
    flex-direction: column;
  }

  .question__form-label {
    margin: 0 0 20px;
    text-align: center;
  }

  .question__form-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 15px;
    text-align: center;
  }

  .question__form-btn {
    margin-left: auto;
    padding: 18px 38px;
  }
}

@media (max-width: 600px) {
  .menu {
    border-top-width: 1px;
  }

  .menu__list {
    display: block;
  }

  .menu__list-item {
    width: 100%;
  }

  .menu__list-item:first-child,
  .menu__list-item:last-child {
    border: none;
  }

  .menu__link-link {
    padding: 20px 10px;
    border: none;
    border-bottom: 1px solid #c4c4c4;
  }

  .slider__item {
    background-position: 0 0;
  }

  .search__form {
    padding: 0 10px;
  }

  .search__form-input {
    width: 65%;
  }

  .popular__title {
    font-size: 36px;
    line-height: 42px;
  }

  .popular__img {
    width: 280px;
    height: 280px;
  }

  .reasons__item {
    margin: 0 25px 50px;
  }

  .reasons__title {
    font-size: 30px;
  }

  .special__title {
    padding-top: 20px;
    font-size: 28px;
    line-height: 32px;
  }

  .info {
    font-size: 16px;
  }

  .info__title {
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 25px;
  }

  .info__blog {
    width: 400px;
  }

  .info__blog-list {
    margin-left: 0;
  }
}

@media (max-width: 440px) {
  .slider__item {
    min-height: 300px;
    background-position: 0 0;
  }

  .search__form-input {
    width: 100%;
  }

  .search__form-btn {
    width: 100%;
    padding: 15px 20px;
    font-size: 22px;
  }

  .search__form-btn::before {
    display: none;
  }

  .reasons__item {
    margin: 0 10px 50px;
  }

  .reasons__title {
    font-size: 25px;
    line-height: 30px;
  }

  .reasons__text {
    font-size: 16px;
  }

  .special {
    min-height: 300px;
  }

  .special__link {
    padding: 13px 15px;
    font-size: 16px;
  }

  .info__blog {
    width: 350px;
  }

  .info__blog-link {
    margin-bottom: 10px;
    padding-left: 40px;
  }

  .info__blog-link::before {
    width: 25px;
    height: 25px;
    background-size: cover;
  }

  .question__form-input {
    margin-bottom: 0;
  }

  .question__form-btn {
    width: 100%;
    margin-left: 0;
  }
}
